{% extends 'sites/udemyRecettes/baseRecettes.html.twig' %}

{% block title %}TP recettes{% endblock %}

{% block monTitre %}Liste des aliments        
    {% if isCalorie %}
        avec moins de 50 calories
    {% elseif isGlucide %}
        avec moins de 50 glucides
    {% endif %}
{% endblock %}
{% block body %}
<a class="col-3 btn btn-primary text-white m-2" href="{{ path("liste_aliments") }}">Tous</a>
<a class="col-3 btn btn-primary text-white m-2" href="{{ path("aliments_par_calorie", {'calorie' : 50}) }}">Aliment avec moins de 50 caloris/100g</a>
<a class="col-3 btn btn-primary text-white m-2" href="{{ path("aliments_par_glucide", {'glucide' : 5}) }}">Aliment avec moins de 5 glucide/100g</a>
<div class="row p-2 m-2">
    {% for aliment in aliments %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card align-items-center col-center" style="width: 18rem;">
            <img src="{{asset("images/projects/" ~ aliment.image)}}" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title"><a href="">{{ aliment.nom }}</a></h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Calorie : <span class="font-weight-bold">{{ aliment.calorie }}</span></li>
                <li class="list-group-item">Proteine : <span class="font-weight-bold">{{ aliment.proteine }}</span></li>
                <li class="list-group-item">Glucide : <span class="font-weight-bold">{{ aliment.glucide }}</span></li>
                <li class="list-group-item">Lipide : <span class="font-weight-bold">{{ aliment.lipide }}</span></li>
            </ul>
            <div class="card-body">
                <p class="btn btn-info">Prix : {{ aliment.prix }} € </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
