{% extends 'base.html.twig' %}

{% block title %}Accueil - Youssef Moudni{% endblock %}

{% block body %}
<header class="header">

    {% include "navbar.html.twig" %}
    <div class="header-intro theme-bg-primary text-white py-5" style="background-image: image(public/images/ligne-code.jpg)">
        <div class="container">
            <div class="profile-teaser media flex-column flex-md-row">
                <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto"
                    src="{{asset("images/profile.jpg") }}" alt="">
                <div class="media-body text-center text-md-left">
                    <div class="lead" style="font-size: 25px;">Youssef Moudni</div>
                    <h2 class="mt-0 display-0 font-weight-bold">Développeur PHP / SYMFONY 5</h2>
                    <div class="bio mb-3">Après plusieurs années dans le milieu de l'assurance, je me suis découvert une
                        passion pour la programmation.
                        Dans un premier temps sur <a class="link-on-bg" href="https://openclassrooms.com/"
                            target="_blank">OpenClassRoom</a> j'ai ensuite intégré l'école <a class="link-on-bg"
                            href="https://www.wildcodeschool.com/fr-FR" target="_blank">Wild Code School</a> pendant 5
                        mois.
                        Après un stage et une première expérience de développeur chez <a class="link-on-bg"
                            href="https://www.movidone.com/" target="_blank">Movidone</a>, je souhaite vivement
                        continuer mon apprentissage.
                    </div>
                    <div class="bio mb-3">
                        Pour en savoir plus n'hésitez pas à consulter mes <a class="link-on-bg" href="">projets</a> ou
                        mon <a class="link-on-bg" href="">C.V</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="skills-section section py-5" id="competences">
    <div class="container">
        <div class="divider"><span></span><span>Mes compétences</span><span></span></div>

        <div class="section-intro mx-auto text-center mb-5 text-secondary">Ayant exercé dans plusieurs domaines
            professionnels (banque/assurance, entreprenariat, sport).
            j'ai acquis une réelle polyvalence et une forte adaptabilité, me permettant de monter rapidement en
            autonomie dans mon travail.
            Ci-dessous une liste rapide de mes principales compétences. Pour en savoir plus, n'hésitez pas à faire un
            tour sur mon <a href="resume.html" style="color: #434E5E;">C.V en ligne</a>.</div>
        <div class="skills-blocks mx-auto pt-5">
            <div class="row">
                <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Frontend</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="{{asset("images/frontend-icon.svg") }}">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Javascript</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Bootstrap</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>HTML/CSS</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Figma</li>
                        </ul>
                    </div>
                </div>
                <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Backend</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="{{ asset("images/backend-icon.svg") }}">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>PHP</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>SYMFONY 5</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>CakePHP</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>MySQL</li>
                        </ul>
                    </div>
                </div>
                <div class="skills-block col-12 col-lg-4">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Autres</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="{{ asset("images/other-skills-icon.svg") }}">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Commercial</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Gestion de projets</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>SCRUM</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Wordpress</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="divider"><span></span><span>Mon parcours</span><span></span></div>

<section class="section py-5" id="parcours">
    <ul class="timeline">
    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">CEO et co-fondateur</span>
                <span class="time-wrapper"><span class="time">2019 - 2020</span></span>
            </div>
            <div class="desc">
                De nature entreprenante et suite à des rencontres dans mon milieu professionnels, j'ai choisi de réaliser un projet de longue date qui était développer un outil pour les streamers en Node/react.
                Malgré notre investissement, nous n'avons pa pu aller plus loin (crise sanitaire + produit qui ne réponds pas totalement aux attentes du marché). J'en garde une expérience très enrichissante. 
            </div>
        </div>
    </li>
    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Développeur web</span>
				<span class="time-wrapper"><span class="time">2018 - 2019</span></span>
			</div>
			<div class="desc">
                Suite à mon stage, j'ai intégré une équipe de développeur chez Movidone. J'ai pu ainsi découvrir les nombreuses facettes du métier de développeur à travers des projets réalisés sous cakePHP 2.
            </div>
		</div>
    </li>
    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Etudiant</span>
				<span class="time-wrapper"><span class="time">2017 - 2018</span></span>
			</div>
			<div class="desc">
                Avec l'auto-formation, j'ai envisagé de faire une reconversion dans le milieu du web. Pour cela, j'ai intégré l'école Wild Code School qui forme sur 9 mois au métier du web.accordion
                J'ai pu ainsi découvrir la POO, Symfony 3 et d'autres technologies. Un stage de 4 mois m'a permis de conforter mes connaissances et mon choix de carrière.
            </div>
		</div>
    </li>
    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Educateur sportif</span>
				<span class="time-wrapper"><span class="time">2016 - 2017</span></span>
			</div>
			<div class="desc">
                Avec un passé de sportif et la proposition d'en faire un métier, j'ai décidé d'enseigner le Taekwondo au sein d'une association sportive.
                J'ai pu ainsi gagné un temps libre que j'ai mis à profit pour débuter une auto-formation dans le web sur des sites comme openclassrooms.
            </div>
		</div>
	</li>
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Banque/Assurance</span>
				<span class="time-wrapper"><span class="time">Avant 2016</span></span>
			</div>
			<div class="desc">J'ai exercé dans plusieurs entreprises en occupant des postes en relation avec les clients ou assurés, me permettant de développer mes capacités relationnelles et commerciales</div>
		</div>
	</li>
</ul>
<div class="text-center" style="margin-top: 30px;">
    <a class="theme-btn-on-bg btn" href="{{path("resume")}}">Visualiser/Télécharger mon C.V</a>
</div>
</section>

<section class="section-featured-projects py-5 theme-bg-primary" id="projets">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-5" style="color: white;">Réalisations - Programmation</h3>

        <div class="project-cards row mb-5">
            <div class="col-12 col-lg-6">
                <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
                    <div class="card-img-container position-relative">
                        <img class="card-img-top rounded-0" src="{{ asset("images/projects/project-2-thumb.jpg") }}"
                            alt="">
                        <div class="card-img-overlay overlay-logo text-center">
                            <div class="project-logo"><img class="img-fluid w-50"
                                    src="{{ asset("images/logos/vibin-project.svg") }}"></div>
                        </div>
                        <a class="card-img-overlay overlay-content text-left p-lg-4" href="project.html">
                            <h5 class="card-title font-weight-bold">Vibin</h5>
                            <p class="card-text">Outil à destination des streamers permettant à leurs communautés de
                                soumettre et voter pour les musiques à diffuser pendant le stream</p>
                        </a>
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title text-truncate text-center mb-0"><a href="project.html">Landing page</a>
                        </h4>
                    </div>

                    <div class="card-footer border-0 text-center bg-white pb-4">
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML/CSS</span>
                            </li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Bootstrap</span>
                            </li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">PHP</span>
                            </li>
                            <li class="list-inline-item"><span
                                    class="badge badge-secondary badge-pill">Javascript</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
                    <div class="card-img-container position-relative">
                        <img class="card-img-top rounded-0" src="{{ asset("images/projects/project-2-thumb.jpg") }}"
                            alt="">
                        <div class="card-img-overlay overlay-logo text-center">
                            <div class="project-logo"><img class="img-fluid w-50"
                                    src="{{ asset("images/logos/udemy-project.svg") }}"></div>
                        </div>
                        <a class="card-img-overlay overlay-content text-left p-lg-4" href="project.html">
                            <h5 class="card-title font-weight-bold">Cours de programmations</h5>
                            <p class="card-text">Avant de rester au niveau, je réalise régulièrement des tutoriels pour
                                me maintenir à niveau, ou apprendre de nouvelles technologies</p>
                        </a>
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title text-truncate text-center mb-0"><a href="project.html">Cours/Tutoriels</a>
                        </h4>
                    </div>

                    <div class="card-footer border-0 text-center bg-white pb-4">
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">POO</span>
                            </li>
                            <li class="list-inline-item"><span
                                    class="badge badge-secondary badge-pill">JavaScript</span>
                            </li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">SYMFONY 5</span>
                            </li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">GITHUB</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {# <div class="text-center">
            <a class="theme-btn-on-bg btn" href="projects.html">Voir tous mes projets</a>
        </div> #}
    </div>
</section>

<section class="section-cta py-5" id="contact">
    <div class="container">
        <div class="text-center">
            <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="{{ asset("/images/profile.jpg") }}" alt="">
        </div>
        <h3 class="section-title font-weight-bold text-center mb-2">Intéressé par mon profil pour intégrer votre équipe ?</h3>
        <div class="section-intro mx-auto text-center mb-3 text-secondary">
            De nature entreprenante et motivé à devenir chaque jour plus compétent, je serais ravi d'échanger sur mon parcours et mes aspirations. N'hésitez pas à me contacter par mail, <a class="link-on-bg" href="mailto:you.moudni@gmail.com">you.moudni@gmail.com</a> 
        </div>
        <div class="map-responsive mx-auto text-center mb-3" >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2639.2501223653157!2d7.700120515528012!3d48.58590952780767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796b7d3bc1a93c5%3A0x8aa17f761d59bab6!2s10%20Rue%20Lucie%20Berger%2C%2067200%20Strasbourg!5e0!3m2!1sfr!2sfr!4v1592313167640!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    
        </div>
    </div>
</section>

<footer class="footer text-light text-center py-2">
    <small class="copyright">Template Copyright &copy; <a class="text-light" href="https://themes.3rdwavemedia.com/"
            target="_blank">3rd Wave Media</a></small>
</footer>
{% endblock %}