{% extends 'base.html.twig' %}

{% block title %}Accueil - Youssef Moudni{% endblock %}

{% block body %}
<header class="header">

    {% include "navbar.html.twig" %}
    <div class="header-intro theme-bg-primary text-white py-5" style="background-image: image(public/images/ligne-code.jpg)">
        <div class="container">
            <div class="profile-teaser media flex-column flex-md-row">
                <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto"
                    src="{{asset("images/profile.jpg") }}" alt="">
                <div class="media-body text-center text-md-left">
                    <div class="lead" style="font-size: 25px;">Youssef Moudni</div>
                    <h2 class="mt-0 display-0 font-weight-bold">Développeur PHP / SYMFONY 5</h2>
                    <div class="bio mb-3">Ayant à la base une formation dans le domaine commercial, c'est dans le cadre d'un projet personnel que je me suis découvert une passion pour la programmation.
                        près une initiation au codage sur  <a class="link-on-bg" href="https://openclassrooms.com/"
                        target="_blank">OpenClassRoom</a>, j'ai intégré un cursus de développeur logiciel au sein de l'école <a class="link-on-bg"
                        href="https://www.wildcodeschool.com/fr-FR" target="_blank">Wild Code School</a> afin de faire de ma passion, mon métier.
                    </div>
                    <div class="bio mb-3">
                        Pour en savoir plus, n'hésitez pas à consulter mes <a class="link-on-bg" href="#projects">projets</a> ou
                        mon <a class="link-on-bg" href="{{path("resume")}}">C.V</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="skills-section section py-5" id="competences">
    <div class="container">
        <div class="divider"><span></span><span>Compétences</span><span></span></div>
        <div class="section-intro mx-auto text-center mb-5 text-secondary">Après des expériences dans le domaine bancaire et de l'assurance, le métier de développeur est venu renforcer mon profil en y apportant une approche technique. 
            Pour plus d'informations, faites un tour sur mes <a href="#projects" style="color: #f06a4e;">réalisations</a>.
        </div>
        <div class="skills-blocks mx-auto pt-5">

            <div class="row">
                <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Frontend</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="{{asset("images/frontend-icon.svg") }}">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Javascript</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Bootstrap</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>HTML/CSS</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Figma</li>
                        </ul>
                    </div>
                </div>
                <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Backend</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="{{ asset("images/backend-icon.svg") }}">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>PHP</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>SYMFONY 5</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>CakePHP 2</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>MySQL</li>
                        </ul>
                    </div>
                </div>
                <div class="skills-block col-12 col-lg-4">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Autres</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="{{ asset("images/other-skills-icon.svg") }}">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Commercial</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Gestion de projets</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>SCRUM</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Wordpress</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="divider"><span></span><span>Mon parcours</span><span></span></div>
<div class="section-intro mx-auto text-center mb-5 text-secondary">De nature curieuse, j'ai évolué à différents postes permettant d'acquerir une solide expérience et une forte adaptabilité. Pour plus d'information, voici mon <a class="link-on-bg" href="{{path("resume")}}" style="color: #f06a4e;">C.V</a>.
</div>

<section class="section py-5" id="parcours">
    <ul class="timeline">
    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">CEO et co-fondateur</span>
                <span class="time-wrapper"><span class="time">2019 - 2020</span></span>
            </div>
            <div class="desc">
                Avec l'aide de mes associés, j'ai choisi de me lancer dans un projet de longue date en développant un outil pour le monde du live streaming.
                Malgré notre investissement, ce projet n'a pus aboutir suite à diverses raisons. Cette expérience très enrichissante m'a permise de développer de nouvelles compétences dans l'entrepreneuriat.
            </div>
        </div>
    </li>
    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Développeur PHP</span>
				<span class="time-wrapper"><span class="time">2018 - 2019</span></span>
			</div>
			<div class="desc">
                Suite à mon stage, j'ai intégré une équipe de développeur PHP chez Movidone. J'ai pu découvrir les nombreuses facettes du métier de développeur à travers des projets réalisés sous cakePHP 2.
            </div>
		</div>
    </li>
    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Etudiant</span>
				<span class="time-wrapper"><span class="time">2017 - 2018</span></span>
			</div>
			<div class="desc">
                Via l'auto-formation débutée sur openclassroom, j'ai décidé d'une reconversion dans le milieu du web en intégrant la Wild Code School.
                J'ai appris la POO, Symfony 3 et d'autres technologies, suivi d'un stage de 4 mois pour conforter mes connaissances.
            </div>
		</div>
    </li>
    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Educateur sportif</span>
				<span class="time-wrapper"><span class="time">2016 - 2017</span></span>
			</div>
			<div class="desc">
                Avec un  fort passé de sportif et l'opportunité d'en faire un métier, j'ai enseigné le Taekwondo au sein d'une association sportive.
                Durant mes temps libre, j'ai pu m'intéresser à d'autres sujets comme la programmation.
            </div>
		</div>
	</li>
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Banque/Assurance</span>
				<span class="time-wrapper"><span class="time">Avant 2016</span></span>
			</div>
			<div class="desc">J'ai évolué dans plusieurs entreprises en occupant des postes en relation avec les clients et assurés, permettant de développer mes capacités relationnelles et commerciales</div>
		</div>
	</li>
</ul>
<div class="text-center" style="margin-top: 30px;">
    <a class="theme-btn-on-bg btn" href="{{path("resume")}}">Visualiser/Télécharger mon C.V</a>
</div>
</section>

<section class="section-featured-projects py-5 theme-bg-primary" id="projects">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-5" style="color: white;">Réalisations - Programmation</h3>

        <div class="project-cards row mb-5">
            <div class="col-12 col-lg-6">
                <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
                    <div class="card-img-container position-relative">
                        <img class="card-img-top rounded-0" src="{{ asset("images/projects/vibin-thumb.jpg") }}"
                            alt="">
                        <a class="card-img-overlay overlay-content text-left p-lg-4" href="{{ path("project", {'project' : 'vibin'}) }}">
                            <h5 class="card-title font-weight-bold">Vibin</h5>
                            <p class="card-text">Outil à destination des streamers permettant aux communautés de
                                soumettre et voter pour les musiques à diffuser pendant un stream</p>
                        </a>
                    </div>
                    <div class="card-body pb-0" style="border-top: 5px solid #f06a4e";>
                        <h4 class="card-title text-truncate text-center mb-0"><a href="{{ path("project", {'project' : 'vibin'}) }}">Landing page</a>
                        </h4>
                    </div>

                    <div class="card-footer border-0 text-center bg-white pb-4">
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML/CSS</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Bootstrap</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">PHP</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Javascript</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
                    <div class="card-img-container position-relative">
                        <img class="card-img-top rounded-0" src="{{ asset("images/projects/udemy-thumb.jpg") }}"
                            alt="">
                        <a class="card-img-overlay overlay-content text-left p-lg-4" href="{{ path("project", {'project' : 'udemy'}) }}">
                            <h5 class="card-title font-weight-bold">Cours de programmations</h5>
                            <p class="card-text">Réalisation régulière de tutoriels pour
                                me maintenir à niveau, ou apprendre de nouvelles technologies</p>
                        </a>
                    </div>
                    <div class="card-body pb-0" style="border-top: 5px solid #f06a4e;">
                        <h4 class="card-title text-truncate text-center mb-0"><a href="{{ path("project", {'project' : 'udemy'}) }}">Cours/Tutoriels</a>
                        </h4>
                    </div>

                    <div class="card-footer border-0 text-center bg-white pb-4">
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">POO</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">JavaScript</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">SYMFONY 5</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">GITHUB</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="theme-btn-on-bg btn" href="{{path('allProjects')}}">Voir toutes mes réalisations</a>
        </div>
    </div>
</section>
{% endblock %}