{% extends 'sites/udemyAnimaux/baseAnimaux.html.twig' %}

{% block title %}TP Animal{% endblock %}

{% block monTitre %}Voici la liste des familles{% endblock %}
{% block body %}
{% for famille in familles %}
<h2 class="border-bottom border-primary"><a href="{{ path("afficher_famille", {'id' : famille.id})}}">{{ famille.libelle|capitalize }}</a></h2>
<div>{{ famille.description }}</div>
<div class="row">
    {% for animal in famille.animaux %}
        <div class="col-6">
            <div class="align-items-center">
                <div class="col-12 cold-md-6 col-lg-12 text-center">
                    <img src="{{ asset("images/projects/animaux/" ~ animal.image)}}" alt="" class="img-fluid">
                </div>
                <div class="text-center">
                    <div>
                        <h2><a href="{{ path("afficher_animal", {'id' : animal.id }) }}">{{ animal.nom }}</a></h2>
                        <div>{{ animal.description }}</div>
                        <div>
                            {% for continent in animal.continents %}
                            <a href="{{ path("afficher_continent", {'id' : continent.id }) }}" class="btn btn-warning">{{ continent.libelle }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}