{% extends 'sites/udemyPersos/basePersos.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block monTitre %}
Liste des personnages
{% endblock %}
{% block body %}

<div class="row align-items-center m-2 p-2">
    {% for player in players %}

    <div class="col-4">
        <img src="{{ asset("images/projects/personnages/" ~ player.nom ~ ".png") }}" alt="">
        <div>
            <h2><a href="{{ path("afficher_personnage", {'nom' : player.nom|lower }) }}">{{ player.nom }}</a></h2>
            <p>Caractéristiques : </p>
            <div> {% if player.sexe %}
                Homme
            {% else %}
                Femme
            {% endif %}</a></div>
            <div>
               <ul>
                   <li>{{ player.carac.force }}</li>
                   <li>{{ player.carac.agi }}</li>
                   <li>{{ player.carac.intel }}</li>
               </ul>
            </div>
        </div>
    </div>
    {% endfor %}    
</div>
{% endblock %}