{% extends 'basePersos.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block monTitre %}
Liste des personnages
{% endblock %}
{% block body %}
<table class="table">
    <tr class="thead-dark">
        <th>Image</th>
        <th>Nom</th>
        <th>Age</th>
        <th>Sexe</th>
        <th>force</th>
        <th>agilité</th>
        <th>intelligence</th>
    </tr>
    {% for player in players %}
        <tr>
            <td><img src="{{ asset("images/projects/personnages/" ~ player.nom ~ ".png") }}"></td>
            <td><a href="{{ path("afficher_personnage", {'nom' : player.nom|lower }) }}">{{ player.nom }}</a></td>
            <td>{{ player.age }}</td>
            <td>
                {% if player.sexe %}
                    Homme
                {% else %}
                    Femme
                {% endif %}
            </td>
            <td>{{ player.carac.force }}</td>
            <td>{{ player.carac.agi }}</td>
            <td>{{ player.carac.intel }}</td>
        </tr>
    {% endfor %}    
</table>
{% endblock %}