<div class="top-bar theme-bg-primary-darken">

    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-dark position-relative">
            <ul class="social-list list-inline mb-0">
                <li class="list-inline-item"><a class="text-white" href="https://www.linkedin.com/in/youssef-moudni" target="_blank"><i
                            class="fab fa-linkedin-in fa-fw"></i></a></li>
                <li class="list-inline-item"><a class="text-white" href="https://github.com/youssef67" target="_blank"><i
                            class="fab fa-github-alt fa-fw"></i></a></li>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-uppercase" id="navigation">
                <ul class="navbar-nav ml-lg-auto">
                    {% if route == 'home' %}
                        <li class="nav-item active mr-lg-3">
                            <a class="nav-link">Accueil<span class="sr-only"></span></a>
                        </li>
                    {% else %}
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="{{ path('home') }}">Accueil<span class="sr-only"></span></a>
                        </li>
                    {% endif %}
                    {% if route == 'home' %}
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="#competences">Compétences</a>
                    </li>
                    {% else %}
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="{{ path('home') }}#competences">Compétences <span class="sr-only"></span></a>
                    </li>
                    {% endif %}
                    {% if route != 'home' %}
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="{{ path('home') }}#parcours">Mon parcours</a>
                        </li>
                    {% else %}
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="#parcours">Mon parcours</a>
                        </li>
                    {% endif %}
                    {% if route == 'projects' %}
                        <li class="nav-item active mr-lg-3">
                            <a class="nav-link" href="#projets">Réalisations</a>
                        </li>
                    {% else %}
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="#projets">Réalisations</a>
                        </li>
                    {% endif %}
                    {% if route == 'resume' %}
                        <li class="nav-item active mr-lg-3">
                            <a class="nav-link">C.V</a>
                        </li>
                    {% else %}
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="{{ path('resume') }}">C.V</a>
                        </li>
                    {% endif %}
                    {% if route != 'home' %}
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="{{ path('home') }}#contact">Contact</a>
                        </li>
                    {% else %}
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    {% endif %}
                </ul>
                <span id="slide-line"></span>
            </div>
        </nav>
    </div>
</div>