{% extends 'sites/udemyAnimaux/baseAnimaux.html.twig' %}

{% block title %}Continents{% endblock %}

{% block monTitre %}Le continent {{ continent.libelle }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col">
        <h2 class="border-bottom border-primary p-2 m-2"><a href="{{ path("afficher_continent", {'id' : continent.id }) }}">{{ continent.libelle|capitalize }}</a></h2>
    </div>
</div>
<div class="row align-items-center m-2 p-2">
{% for animal in continent.animaux %}
    <div class="col-12 cold-md-6 col-lg-4 text-center align-items-center p-3">
        <img src="{{ asset("images/projects/animaux/" ~ animal.image)}}" alt="">
            <div>
                <h2><a href="{{ path("afficher_animal", {'id' : animal.id }) }}">{{ animal.nom }}</a></h2>
                <div>{{ animal.description }}</div>
                <div><a href="{{ path("afficher_famille", {'id' : animal.famille.id})}}" class="btn btn-primary m-2 p-2">{{ animal.famille.libelle }}</a></div>
                <div>
                    {% for continentAnimal in animal.continents %}
                        {% if continentAnimal.id != continent.id %}
                            <a href="{{ path("afficher_continent", {'id' : continentAnimal.id }) }}" class="btn btn-warning m-2 p-2">{{ continentAnimal.libelle }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}