{% extends 'sites/udemyAnimaux/baseAnimaux.html.twig' %}


{% block title %}TP Animal{% endblock %}

{% block monTitre %}Liste des continents{% endblock %}
{% block body %}
{% for continent in continents %}
    <div class="row">
        <div class="col-12">
            <h2 class="border-bottom border-primary p-2 m-2"><a href="{{ path("afficher_continent", {'id' : continent.id }) }}">{{ continent.libelle|capitalize }}</a></h2>
        </div>
        <div class="row align-items-center m-2 p-2">
        {% for animal in continent.animaux %}
            <div class="col-12 cold-md-6 col-lg-4 text-center align-items-center">
                <img src="{{ asset("images/projects/animaux/" ~ animal.image)}}" alt="">
                <div class="m-2">
                    <h2><a href="{{ path("afficher_animal", {'id' : animal.id }) }}">{{ animal.nom }}</a></h2>
                    <div>{{ animal.description }}</div>
                    <div><a href="{{ path("afficher_famille", {'id' : animal.famille.id})}}" class="btn btn-primary">{{ animal.famille.libelle }}</a></div>
                    <div class="m-2">
                        {% for continent in animal.continents %}
                            <a href="{{ path("afficher_continent", {'id' : continent.id }) }}" class="btn btn-warning m-1">{{ continent.libelle }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}