{% extends 'sites/udemyAnimaux/baseAnimaux.html.twig' %}

{% block title %}TP Animal{% endblock %}

{% block monTitre %}Voici la liste des personnes{% endblock %}

{% block body %}
    {% for personne in personnes %}
    <div class="row">
        <div class="col">
            <h2 class="border-bottom border-primary m-2"><a href="{{ path("afficher_personne", {"id" : personne.id})}}">{{ personne.nom }}</a></h2>
        </div>
    </div>
    <div class="row">
        {% for dispose in personne.disposes %}
            <div class="col-4 align-items-center text-center">
                    <img src="{{ asset("images/projects/animaux/" ~ dispose.animal.image)}}" alt="">
                    <h2><a href="{{ path("afficher_animal", {'id' : dispose.animal.id }) }}">{{ dispose.animal.nom }}</a></h2>
                    <p>Nombre d'animaux possédés : {{ dispose.nb }}</p>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
